/*STYLING FOR /protected/page.tsx/*/

/* AUTHENTICATION NOTIFYING */
.auth-card {
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
  z-index: 1; /* stays on top of mosaics */
}

.auth-head {
  font-size: 1.8rem;
  color: #ebebeb;
  margin-bottom: 1rem;
}

.auth-msg {
  font-size: 1rem;
  color: #e5ffe7;
  margin-bottom: 0.5rem;
}

.auth-click {
  font-size: 0.9rem;
  color: #e5ffe7;
  margin-bottom: 1.5rem;
}

.auth-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #51ca0b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #5fda18;
}
